* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: 'Quicksand', sans-serif;
}

.nav {
    width: 100%;
    height: 100px;
    background-color: #ffffff;
    display: flex;
    align-items: center;
    padding: 35px;
}

.nav>.nav-header {
    flex: 0.95;
    padding-left: 1rem;
}

.nav>.nav-header>.nav-title {
    color: #105BCB;
    font-family: 'Quicksand', sans-serif;
    font-size: 29px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.nav>.nav-list {
    display: flex;
    gap: 2rem;
}

.nav>.nav-list>li {
    list-style-type: none;
}

.nav>.nav-list>li a {
    text-decoration: none;
    color: #2c2c2c;
    font-family: 'Quicksand', sans-serif;
    cursor: pointer;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.nav>.nav-list>li a.active {
    color: #105BCB;
    font-weight: 800;
}

.nav>#nav-check {
    display: none;
}

section.row {
    width: 100%;
    /* height: 80vh; */
    padding: 100px;
}

.bg-blue {
    background: rgba(16, 144, 203, 0.10);
}

.bg-image-1 {
    background-image: url('assets/images/rocket-minneapolis-web-design-digital-marketing-agency-131.png');
    background-repeat: no-repeat;
    background-size: contain;
    background-position: right bottom;
}

.hero {
    position: relative;
    width: 600px;
    /* margin: 100px; */
    z-index: 2;
}

.hero>h1 {
    color: #000;
    font-family: 'Quicksand', sans-serif;
    font-size: 40px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
}

.text-blue {
    color: #105BCB;
}

.hero>p {
    color: #252525;
    font-family: 'Quicksand', sans-serif;
    font-size: 19px;
    font-style: normal;
    font-weight: 600;
    line-height: 204.3%;
}

#contact-us-button {
    appearance: none;
    outline: none;
    border: none;
    cursor: pointer;
    text-decoration: none;
    padding: 16px 21px;
    border-radius: 8px;
    background: #105BCB;
    color: #ffffff;
}

button {
    appearance: none;
    outline: none;
    border: none;
    cursor: pointer;
    text-decoration: none;
    padding: 15px 40px;
    font-size: 18px;
    border-radius: 28px;
    margin: 5px;
}

.btn-normal {
    background: #105BCB;
    color: #ffffff;
}

.btn-outline {
    background: #ffffff;
    color: #105BCB;
    border: 2px solid #105BCB;
}

.icon {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 83px;
    height: 83px;
    border-radius: 20px;
    margin-right: 10px;
}

.bg-purple {
    background: #EFEAFF;
}

.bg-green {
    background: #ECFFDA;
}

.bg-blue-2 {
    background: #DAE6FF;
}

.bg-red {
    background: #FFE5DA;
}

.row-flex {
    display: flex;
    padding: 40px 100px;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

.col {
    display: flex;
    align-items: center;
    /* background: #eee; */
    width: 50%;
}

.grid {
    display: flex;
    justify-items: center;
    align-items: center;
    /* width: 25%; */
    width: 100%;
    gap: 5px;
    justify-content: center;
    /* background: #333; */
}

.my-4 {
    margin-top: 30px;
    margin-bottom: 30px;
}

.my-2 {
    margin-top: 20px;
    margin-bottom: 20px;
}

.col-6 {
    width: 50%;
}

.col-12 {
    width: 100%;
}

.m-2 {
    margin: 20px;
}

.fs-40 {
    font-size: 40px;
}

.fs-18 {
    font-size: 18px;
}

span.bar-2 {
    width: 54px;
    height: 5px;
    background: #4628A4;
    display: block;
}

.grid>.content-center {
    display: flex;
    justify-content: center;
    align-items: center;
}

h1 {
    font-family: 'Quicksand', sans-serif;
    font-size: 40px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
}

p {
    color: #252525;
    font-family: 'Quicksand', sans-serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
    line-height: 204.3%;
}

.justify-col{
    flex-direction: column;
    align-items: start;
}

.flex-wrap{
    flex-wrap: wrap
}

@media (max-width: 1024px) {
    .grid {
        display: flex;
        flex-wrap: wrap;
        justify-items: center;
        align-items: center;
        /* background: red; */
        width: 100%;
        /* background: none; */
    }

    .col {
        width: 45%;
        margin: 10px;
        /* background: none; */
        margin-left: 25px;
    }

    .col-6 {
        width: 100%;
    }
}

@media (max-width: 768px) {
    .grid {
        display: flex;
        flex-wrap: wrap;
        justify-items: center;
        align-items: center;
        /* background: red; */
        background: none;
    }

    .col {
        width: 80%;
        margin: 10px;
        background: none;
        /* margin-left: 25px; */
    }
}

@media (max-width: 699px) {
    .nav {
        padding: 1rem;
    }

    .nav>.nav-btn {
        display: inline-block;
        position: relative;
        right: 0;
        top: 0;
        padding-top: 0.2rem;
    }

    .nav>.nav-btn>label {
        display: inline-block;
        width: 50px;
        height: 50px;
        padding: 13px;
    }

    .nav>.nav-btn>label>span {
        display: block;
        width: 25px;
        height: 10px;
        border-top: 3px solid #434343;
    }

    .nav>.nav-list {
        position: absolute;
        display: flex;
        flex-direction: column;
        gap: 1rem;
        width: 100%;
        background-color: #e2e5ff;
        height: 0;
        transition: all 0.3s ease-in;
        top: 84px;
        left: 0;
        overflow: hidden;
        z-index: 999;
    }

    .nav>.nav-list>li {
        width: 100%;
        margin-top: 1.5rem;
    }

    .nav>#nav-check:checked~.nav-list {
        height: calc(100vh - 50px);
    }

}

@media (max-width: 856px) {
    .hero {
        width: auto;
        margin: 20px;
    }

    .hero>h1 {
        font-size: 30px;
    }
}