.card-container {
    display: flex;
    justify-content: center;
  }
  
  .card {
    width: 45%;
    height: auto;
    border: 1px solid #ccc;
    border-radius: 10px;
    padding: 20px;
    margin: 0 2%;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
  }
  
  #card1 {
    background-color: #D3D3D3;
  }
  
  .btn {
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    font-size: 1rem;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  #card1 button {
    background-color: #105BCB;
    color: white;
  }
  
  #card2 {
    background-color: #105BCB;
    color: white;
  }
  
  #card1 button:hover {
    background-color: #105BCB;
    color: black;
    transition: background-color 0.3s ease;
  }
  
  #card2 button {
    background-color: white;
    color: #105BCB;
  }
  
  #card2 button:hover {
    background-color: #d3d3d3;
    color: black;
    transition: background-color 0.3s ease;
  }
  
  .card img {
    width: 212px;
    border-radius: 10px;
    margin-bottom: 10px;
  }
  
  .card h2 {
    font-size: 1.3rem;
    margin-top: 0;
    margin-bottom: 1px;
    text-align: center;
  }
  
  .card p {
    font-size: 1.2rem;
    line-height: 1.0;
    text-align: center;
  }
  
  .card-btn-container {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    text-align: center;
    display: flex;
    justify-content: center;
    margin-top: auto;
    margin-bottom: 5px;
  }